
  <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/style_login.css">

<div ng-if="user.rol == 'EMPLEADO'" >
<nav class="dropdownmenu">
  <ul>
    <li><a ui-sref="inicio">INICIO</a></li>
    <li><a ui-sref="menu.Registro">ALTAS CLIENTES</a></li>
    <li><a ui-sref="menu.AltaProducto">ALTA PRODUCTOS</a></li>
    <li><a ui-sref="menu.AltaPromocion">ALTA PROMOCION</a></li>
    <li><a ui-sref="menu.altaPedidos">ALTA PEDIDOS</a></li>
    <li><a ui-sref="menu.Grillas">GRILLA CLIENTES </a></li>
    <li><a ui-sref="menu.grillaPedidos" >GRILLA PEDIDOS</a></li>
    <li><a ng-Click="Deslogueo()">DESLOGUEARSE</a></li>

  </ul>
</nav>
</div>

<div ng-if="user.rol == 'ENCARGADO'" >
<nav class="dropdownmenu">
  <ul>
        <li><a ui-sref="inicio">INICIO</a></li>
    <li><a ui-sref="menu.Registro">ALTAS CLIENTES Y EMPLEADOS</a></li>
    <li><a ui-sref="menu.AltaProducto">ALTA PRODUCTOS</a></li>
    <li><a ui-sref="menu.AltaPromocion">ALTA PROMOCION</a></li>
    <li><a ui-sref="menu.altaPedidos">ALTA PEDIDOS</a></li>
    <li><a ui-sref="menu.Grillas">GRILLA CLIENTES EMPLEADOS</a></li>
    <li><a ng-Click="Deslogueo()">DESLOGUEARSE</a></li>

</div>


<br>
<br>
<br>
 <body class="collage none-bg">
   </head>

      <div id="header">
            <h1 class="name-title">
            ALTA PRODUCTO
          </h1>
         </div>
</body>
</html>

     <div class="container"  align= "center" name="divLogeo" id="divLogueo"  >

    <form name="formIngreso" id="formIngreso" enctype="multipart/form-data" ng-submit="enviar" >

    <div id="header">
          
         </div>
          <input type="text" value="" placeholder="ingrese descripcion del producto" ng-model="producto.descripcion_pizza" required />
        </p>
         <p>
         <input type="text" value="" placeholder="ingrese precio del producto" ng-model="producto.precio_pizza" required />
        </p>
         <p>
        
                   <input type="file" nv-file-select="" uploader="SubirdorArchivos" multiple  /><br/>

    <li ng-repeat="item in SubirdorArchivos.queue">
          <!-- nombre del archivo -->
          Archivo: <span ng-bind="item.file.name"></span><br/>
          <!-- imagen del archivo -->
          <div ng-show="SubirdorArchivos.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
      
        
          <!-- boton cancel -->            
          <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
          </button>

          <!-- boton remove -->
          <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
            <span class="glyphicon glyphicon-trash"></span> Remove
          </button>
        </li>  
        <img  ng-if="SubirdorArchivos.queue==0" ng-src="{{local.foto_local}}" class="fotoform" id="foto" />

       <button  name="guardar" ng-disabled="FormIngreso.$invalid"  ng-click="Guardar()" ></span>Guardar</a> 
          
        <input type="hidden" value="" id="idParaModificar" name="agregar" />
        <input type="hidden" value="" id="hdnAgregar" name="agregar" />
        </div>

      </form>  
        
          
       

        </div>
      

</body>
