  <link rel="stylesheet" href="css/style_grilla.css">

<div ng-if="user.rol == 'ADMINISTRADOR'" >
  <nav class="dropdownmenu">
    <ul>
         <li><a ui-sref="inicio">INICIO</a></li>
    <li><a ui-sref="menu.ABM">ALTAS USUARIOS</a></li>
    <li><a ui-sref="menu.AltaLocal">ALTA LOCAL</a></li>
    <li><a ui-sref="menu.Grillas">GRILLAS USUARIOS</a></li>
     <li><a ui-sref="menu.GrillaLocal" >GRILLA LOCALES</a></li>
     <li><a ng-Click="Deslogueo()">DESLOGUEARSE</a></li>
    </ul>
  </nav>
</div>

<div ng-if="user.rol != 'ADMINISTRADOR'" >
  <nav class="dropdownmenu">
    <ul>
      <li><a ui-sref="inicio">INICIO</a></li>
      <li><a ui-sref="menu.GrillaLocal">LOCALES</a></li>
      <li><a ui-sref="menu.GrillaPromociones">PROMOCIONES</a></li>
    <li><a ui-sref="menu.altaPedidos" >PEDIDOS</a></li>
           <li><a ng-Click="Deslogueo()">DESLOGUEO</a></li>
      </ul>
  </nav>
</div>

<br>
<br>
<br>
<br>

    <div ui-grid="gridOptions" class="myGrid" 
    ui-grid-pagination
    ui-grid-resize-columns
     ui-grid-cellNav 
    ui-grid-edit 
    ui-grid-row-edit
    >
    </div>

 
   <div zoom="2" ng-if="map=='hola'">
    <ng-map center="[{{lat}}, {{log}}]" >
    <marker   position ="[{{lat}}, {{log}}]"  animation="Animation.DROP" ></marker>
    </ng-map>
  </div>


  