
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/style_inicio.css">
    <link rel="stylesheet" href="css/style.css">
  
<div ng-if="user.rol == 'ADMINISTRADOR'" >
<nav class="dropdownmenu">
  <ul>
   <li><a ui-sref="inicio">INICIO</a></li>
    <li><a ui-sref="menu.ABM">ALTAS USUARIOS</a></li>
    <li><a ui-sref="menu.AltaLocal">ALTA LOCAL</a></li>
    <li><a ui-sref="menu.Grillas">GRILLAS USUARIOS</a></li>
     <li><a ui-sref="menu.GrillaLocal" >GRILLA LOCALES</a></li>
     <li><a ng-Click="Deslogueo()">DESLOGUEARSE</a></li>
</ul>
</nav>
     <h1>HOLA {{user.usuario}}</h1>

</div>

<div ng-if="user.rol == 'CLIENTE'" >
<nav class="dropdownmenu">
  <ul>
    <li><a ui-sref="inicio">INICIO</a></li>
    <li><a ui-sref="menu.GrillaLocal">LOCALES</a></li>
    <li><a ui-sref="menu.GrillaPromociones">PROMOCIONES</a>    </li>
    <li><a ui-sref="menu.altaPedidos" >ALTA PEDIDOS</a></li>
        <li><a ng-Click="Deslogueo()">DESLOGUEARSE</a></li>
       <h1>HOLA {{user.usuario}}</h1>

</div>


<div ng-if="user.rol == 'EMPLEADO'" >
<nav class="dropdownmenu">
  <ul>
    <li><a ui-sref="inicio">INICIO</a></li>
    <li><a ui-sref="menu.Registro">ALTAS CLIENTES</a></li>
    <li><a ui-sref="menu.AltaProducto">ALTA PRODUCTOS</a></li>
    <li><a ui-sref="menu.AltaPromocion">ALTA PROMOCION</a></li>
    <li><a ui-sref="menu.altaPedidos">ALTA PEDIDOS</a></li>
        <li><a ui-sref="menu.Grillas">GRILLA CLIENTES </a></li>
    <li><a ui-sref="menu.grillaPedidos" >GRILLA PEDIDOS</a></li>
    <li><a ng-Click="Deslogueo()">DESLOGUEARSE</a></li>
       <h1>HOLA {{user.usuario}}</h1>
  </ul>
</nav>
</div>

<div ng-if="user.rol == 'ENCARGADO'" >
<nav class="dropdownmenu">
  <ul>
    <li><a ui-sref="inicio">INICIO</a></li>
    <li><a ui-sref="menu.Registro">ALTAS CLIENTES Y EMPLEADOS</a></li>
    <li><a ui-sref="menu.AltaProducto">ALTA PRODUCTOS</a></li>
    <li><a ui-sref="menu.AltaPromocion">ALTA PROMOCION</a></li>
    <li><a ui-sref="menu.altaPedidos">ALTA PEDIDOS</a></li>
    <li><a ui-sref="menu.Grillas">GRILLA CLIENTES EMPLEADOS</a></li>
    <li><a ng-Click="Deslogueo()">DESLOGUEARSE</a></li>
       <h1>HOLA {{user.usuario}}</h1>

</div>


<div ng-if="user == null"> 
<nav class="dropdownmenu">
 <ul>
    <li><a ui-sref="inicio">INICIO</a></li>
    <li><a ui-sref="menu.login">ZONA LOGIN</a></li>
      </ul>
  </nav>
 <h1>Bienvenidos a pizzerias argenta srl </h1>
</div>

